<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- logo -->
    <a  id="header-logo" class="navbar-item" routerLink="/home"></a>
  </div>
  <div class="navbar-start">
  <a class="navbar-item" routerLink="">
  Home
  </a>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      Event Types
    </a>
      <div class="navbar-dropdown">
        <a class="navbar-item" routerLink="">
          Sports
        </a>
        <a class="navbar-item">
          Art
        </a>
        <a class="navbar-item">
          Group Studying
        </a>
        <hr class="navbar-divider">
      <div class="navbar-item">
          Version 0.9.4
      </div>
    </div>
  </div>

 
  <form id="form" class="srch search" role="search">
    <input type="search" id="query" name="q"
     placeholder="Search..."
     aria-label="Search through site content">
    <button>
      <img src="/assets/img/search-icon1.png" alt="">
    </button>
  </form>
  </div>


<!-- RIGHT SIDE -->
<div class="navbar-end">
  <a class="navbar-item">
    Discover
  </a>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      Settings
    </a>
      <div class="navbar-dropdown">
        <a class="navbar-item" routerLink="">
          Personal Info
        </a>
        <a class="navbar-item">
          Payment Info
        </a>
        <a class="navbar-item">
          Sign Out
        </a>
        <hr class="navbar-divider">
      <div class="navbar-item">
          Version 0.9.4
      </div>
    </div>
  </div>
  </div>

  <!-- <ng-container *ngIf="authService"> </ng-container> -->

  <!-- LOGIN -->
  <a  id="login" class="navbar-item srch" routerLink="/login">
    <img src="assets/img/sign-in.png" alt="">
  </a>


<script>

</script>

</nav>